@import url("../../App.css"); 

.populares h1 {
    text-align: center;
    font-family: "Merriweather", serif;
}

.populares__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 150px auto;    
}


@media screen and (max-width: 767px) {
    .populares__cards {
        flex-direction: column;
        gap: 150px;
        border: saddlebrown;
    }
}