@import url("../../App.css"); 

.comentarios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.comentarios h1 {
    text-align: center;
    font-family: "Merriweather", serif;
}

.comentarios__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;    
}

@media screen and (max-width: 767px) {

    .comentarios {
        width: 90%;
        margin: auto;
    }

    .comentarios__cards {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .comentarios__cards {
        flex-direction: column;
        gap: 40px;
    }
}

