@import url("../../App.css"); 

.comentarios h1 {
    text-align: center;
    font-family: "Merriweather", serif;
}

.comentarios__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;    
}

@media screen and (max-width: 767px) {
    .comentarios {
        width: 90%;
    }

    .comentarios__cards {
        flex-direction: column;
        gap: 40px;
    }
}