header {
    width: 70%;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

img {
    width: 154px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #232323;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20px;
}