@import url("../../App.css"); 

.informacoes {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.informacoes__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.informacoes__container h1 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Koh Santepheap", serif;
    color: #232323;
}

.informacoes__container h2 {
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #232323;
}

@media screen and (max-width: 767px) {

    .informacoes {
        width: 90%;
        justify-content: center;
        gap: 30px;
        margin: 30px auto;
    }

    .informacoes__container h1 {
        font-size: 14px;
    }

    .informacoes__container h2 {
        font-size: 10px;
    }
}
